######################################################################
# Customized homing
######################################################################

# Safe Z homing. One may use this mechanism to home the Z axis at a
# specific XY coordinate. This is useful if the toolhead, for example
# has to move to the center of the bed before Z can be homed.
[safe_z_home]
home_xy_position: 0,0
#   A X,Y coordinate (e.g. 100,100) where the Z homing should be
#   performed. This parameter must be provided.
#speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop: 10
#   Lift the Z axis prior to homing. This is applied to any homing
#   command, even if it doesn't home the Z axis. If the Z axis is
#   already homed and the current Z position is less than z_hop, then
#   this will lift the head to a height of z_hop. If the Z axis is not
#   already homed, then prior to any XY homing movement the Z axis
#   boundary checks are disabled and the head is lifted by z_hop. If
#   z_hop is specified, be sure to home the Z immediately after any XY
#   home requests so that the Z boundary checks are accurate. The
#   default is to not implement Z hop.
#z_hop_speed: 20.0
#   Speed at which the Z axis is lifted prior to homing. The default
#   is 20mm/s.
#move_to_previous: False
#   When set to True, xy are reset to their previous positions after z
#   homing. The default is False.

[gcode_macro M600]
gcode:
    PAUSE
    UNLOAD_FILAMENT

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G91
    G1 E3 F300
    G1 E-60 F300
    G90
    M82

[gcode_macro LOAD_FILAMENT]
variable_status: 1
gcode:
    M83
    G91
    G1 E50 F300
    G90
    M82

[gcode_macro Licht_AUS]
gcode:
    SET_PIN PIN=Licht VALUE=0
     
[gcode_macro Licht_AN]
gcode:
    SET_PIN PIN=Licht VALUE=1

[gcode_macro START_PRINT]
gcode:
    M117 Starting...
    G90 ; absolute positioning
    M107 ; start with the fan off
    G28 ; Home
    G0 X5 Y5 F4500 ; Go to front
    G0 Z0.3 ; Drop to bed
    G92 E0 ; zero the extruded length
    G1 Y40 E15 F500 ; Extrude 15mm of filament in a 4cm line
    G92 E0 ; zero the extruded length
    G1 Y80 F4000 ; Quickly wipe away from the filament line
    G1 Z1 ; Raise and begin printing.
    M117 Printing...

[gcode_macro END_PRINT]
gcode:
    M117 End printing.
    G91 ; relative positioning
    G1 E-1 F300 ;retract the filament a bit before lifting the nozzle to release some of the pressure
    G1 Z+5 E-2 F1000 ;move Z up a bit and extract a bit more
    G90 ; absolute positioning
    G1 X0 F2000 ; move X to min endstops so the head is out of the way
    G1 Y200 F2000 ; Move Y to the back
    m104 S0 ; turn hotend heating off
    M140 S0 ; turn bed heating off
    M107 ; turn fan off
    M84 ; steppers off